{% if lang == config.default_language %}
    {% set root_url = config.base_url %}
    {% set other_lang = config.languages | first | get(key="code") %}
    {% set other_lang_url = config.base_url ~ "/" ~ other_lang %}
{% else %}
    {% set root_url = config.base_url ~ "/" ~ lang %}
    {% set other_lang = config.default_language %}
    {% set other_lang_url = config.base_url ~ "/" %}
{% endif %}
<!DOCTYPE html>
<html>
    <!-- {{ __tera_context }} -->
    <body>
        <span>
            Current language is "{{ lang }}"
        </span><br/>
        <span>
            <a href="{{ other_lang_url }}">Switch to "{{ other_lang }}" language</a>
        </span><br/>
        <a href="{{ get_url(path=config.feed_filename, lang=lang) | safe }}">Feed url</a>
        <span></span>
        {% for page in section.pages %}
            <article>
                <h1>{{ page.title }}</h1>
                <span>Tags:</span>
                {% if page.taxonomies.tags %}
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) }}">
                            <span class="tag">
                                #{{ tag }}
                            </span>
                        </a>
                    {% endfor %}
                {% else %}
                    <span>None</span>
                {% endif %}
                <div class="mt-4">
                    {{ page.summary | safe }}
                </div>
                <div class="mt-4">
                    <a href="{{ page.permalink }}">Read more...</a>
                </div>
            </article>
        {% endfor %}
    </body>
</html>