<!DOCTYPE html>
<html>
    <!-- {{ __tera_context }} -->
    <body>
        <span>
            Current language is "{{ lang }}"
        </span><br/>
        <article>
            <h1>{{ page.title }}</h1>
        </article>
        <span>Tags:</span>
        {% if page.taxonomies.tags %}
            {% for tag in page.taxonomies.tags %}
                <a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) }}">
                    <span class="tag">
                        #{{ tag }}
                    </span>
                </a>
            {% endfor %}
        {% else %}
            <span>None</span>
        {% endif %}
        <span class="block">
            {{ page.content | safe }}
        </span>
    </body>
</html>
